
    #grid-container{
        display: grid;
        grid-gap: 10px;
        background-color: darkturquoise;
        gap: 60px;
        padding: 50px;
        width: 900px;
        height: 600px;
        margin: 5px;
        color:yellow;
        
    }


#long{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/8;
    background-color: teal;
    align-items: center;
     
}

  #Reviews{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: teal;
    /* justify-content: center; */
    color:yellow;
     
    
    
    
    
}

 
#Average{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: teal;
    color:yellow;
}

#Sentiment{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    
     
}


#Website{
    grid-column: 2/5;
    grid-row: 2/8;
    background-color: teal;
}

#inner{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    height: 70%;
    width: 700px;
    margin-left: 10px;
    background-color: teal;
}

